/*
---------------------------------------------------------------
* --- Card-Grid Styling Styling
---------------------------------------------------------------
*/
// --- Imports
@import "../0-abstracts/abstracts";

.character-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;

  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 20px 60px 40px 60px; 
  }
}
  
