/*
---------------------------------------------------------------
* --- Imports
---------------------------------------------------------------
*/
// --- Normalize
@import "./normalize";
// --- Abstracts
@import "../0-abstracts/abstracts";

/*
---------------------------------------------------------------
* --- HTML Selectors
---------------------------------------------------------------
*/
html {
  width: 100%;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
    //font-family: ;
  }
  scroll-behavior: smooth;
}

body {
  background: black;
  color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
  
/*
---------------------------------------------------------------
* --- Typography
---------------------------------------------------------------
*/
h1, 
h2, 
h3 {
    font-size: 2.45em;
    font-family: $font1;
    //font-weight: 700;
}

h4, 
h5, 
h6 {
    font-size: 2.45em;
    font-family: $font1;
    //font-weight: 400;
}

a {
    text-decoration: none;
    color: white;
    font-size: 0.85em;
    font-family: $font1;
    font-weight: 600;
    // Media Query for Mobile/Tablet
    @media screen and (min-width: 50em) {
        font-size: 0.9em;
    }
}

li {
    list-style-type: none;
    font-size: 0.85em;
    font-family: $font2;
    //font-weight: 250;
    //letter-spacing: 1px;
    // Media Query for Mobile/Tablet
    @media screen and (min-width: 50em) {
        font-size: 0.9em;
    }
}

p {
    line-height: 1.75;
    font-size: 0.85em;
    font-family: $font2;
    font-weight: 300;
    // Media Query for Mobile/Tablet
    @media screen and (min-width: 50em) {
        font-size: 0.9em;
    }
}